# .NET / C#
bin/
obj/
*.user
*.userosscache
*.sln.docstates
.vs/
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
*.db
*.sqlite

# Angular / Node
node_modules/
dist/
.angular/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Environment & Secrets
.env
*.env
appsettings.Development.json
appsettings.Production.json
appsettings.Local.json
*.pem
*.pfx
*.crt
*.key
client_secret*.json
sendgrid_key.txt
twilio_2FA_recovery_code.txt

# Operating System
.DS_Store
Thumbs.db
